.titulo-centrado {
  font-family: Impact, serif;
  font-size: 30px;
  text-align: center;
}

.titulo-editable {
  font-family: Impact, serif;
  font-size: 30px;
}

img {
  display: block;
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;
}

.section-header h2 {
  font-family: Impact, serif;
  margin: 0;
  font-size: 1.4rem;
}
